<!DOCTYPE html>
<html>
<head>
	<%- include('parts/head', {title: 'HummingBirdUI'}) %>
</head>
<body>
	<!-- 主结构内容,内部添加你自己的代码 -->
	<section id="hui-app" class="hummer-app">
		
		<!-- 锁屏页面 -->
		<%- include('parts/welcome') %>

		<!-- 主内容 -->
		<section class="app-mod">
			<!-- 主框架内容 -->
			<section class="app-inner"></section>
			
			<!-- 主菜单 -->
			<%- include('parts/navMod', {
				data: [
					{
						'id': 'home-page',
						'url': 'UI/home',
						'ico': 'nav-stats',
						'txt': '首页',
						'act': true
					},
					{
						'id': 'search-page',
						'url': 'iCenter/customer',
						'ico': 'nav-money',
						'txt': '查寻',
						'act': false
					},
					{
						'id': 'about-page',
						'url': 'icenter/team',
						'ico': 'nav-client',
						'txt': '关于',
						'act': false
					}
				]
			}) %>
		</section>
		
	</section>
	
	<!-- 下拉输入层 -->
	<%- include('parts/slideTxtArea') %>
	
	<!-- deBug 模块,用于调试,需要开启请删除# -->
	<%#- include('parts/debug') %>
	
	<!-- 加载状态 -->
	<div class="hummer-load-mod">
		<div class="load-animate"></div>
		<p>Loading...</p>
	</div>

	<section class="alert-mod">
		<div class="alert-inner">
			<header>标题</header>
			<div class="alert-body">inner</div>
			<footer class="hui-webkit-box">
				<button id="hui-alert-cancel" value="false">CANCEL</button>
				<button id="hui-alert-ok" value="true">OK</button>
			</footer>
		</div>
	</section>
	
	<!-- 通用 JavaScript -->
	<%- include('parts/scripts') %>
	
</body>
</html>