<!DOCTYPE html>
<html>
<%- include('parts/head') %>
<body>
	<!-- 主结构内容,内部添加你自己的代码 -->
	<section class="hummer-app">
		
		<!-- 你的代码 -->
		<%- include('parts/welcome') %>

		<!-- 主内容 -->
		<section class="app-mod">
			<section class="app-inner">
				<!-- 主页空间 -->
				<div id="home-page" class="app-room app-room-show"></div>
				<!-- 客户空间 -->
				<div id="search-page" class="app-room">
				</div>
				<!-- 账款空间 -->
				<div id="my-page" class="app-room"></div>

			</section>
			
			<!-- 主菜单 -->
			<%- include('parts/nav') %>
		</section>
		
	</section>
	
	<!-- 下拉输入层 -->
	<%- include('parts/slideTxtArea') %>
	
	<!-- deBug 模块,用于调试,需要开启请删除# -->
	<%#- include('parts/debug') %>
	
	<!-- 加载状态 -->
	<div class="hummer-load-mod"><div class="load-animate"></div><p>Loading...</p></div>

	<%- include('parts/scripts') %>
</body>
</html>